<!DOCTYPE html>
<html lang = "en">
<head> 
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Smile</title> 


</head> 
<body> 
  <center><h1 >Smile!!!!</h1> </center>
    
    <!--This is to hold the chatGPT response-->
    <div id="pic" >
      

    </div>

    <button type="button" id="generativeText" style=" align-items: center;">The cute tiny animal want to tell you</button>

    <script>
      document.getElementById("generativeText").onclick = function () {
          fetch('/get_text', {
              method: 'POST',
          })
      };
    </script>

    <video id="remoteVideo" autoplay></video>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <div >
      <iframe src={{URL}}  style="height:1025px; width:1025px;" title="video"></iframe>
    </div>

    <!-- show the video on the home page -->
    <iframe src="http://127.0.0.1:5000/video_feed" style="height:500px; width:650px; object-fit: scale-down; align-items: center; " title="video"></iframe>
    
    

  </body> 
</html> 